body{
    width: 300px;

}

form{
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea{
    width: 250px;
    height: 100px;
}

select{
    width: 250px;
    height: 30px;
}

button{
    width: 100px;
    height: 30px;
    
}

button:hover{
    background-color: lightblue;
}